.box {
  position: relative;
}
.icon {
  position: absolute;
  right: 10px;
  top: 0;
}


.img-container{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.img-container > img {

  mix-blend-mode: normal;
}

